*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito Sans", sans-serif !important;
}

::selection {
  background-color: #834339;
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #435423;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #834339;
}

.amakwa-button {
  background: #435423 !important;
  border: 0 !important;
  border-radius: 20px !important;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1) !important;
  color: white !important;
  padding: 10px 30px !important;
  text-decoration: none !important;
  transition: all 250ms !important;
  cursor: pointer !important;
}
.amakwa-button:hover {
  text-decoration: none !important;
  color: #435423 !important;
  background: white !important;
}

@media (max-width: 550px) {
  .hide-on-mobile {
    display: none;
  }
}

.section-heading {
  color: #435423;
  font-weight: bold;
  font-size: 2rem;
}

.hp-banner {
  background: #435423;
  border-radius: 20px;
  height: 600px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .hp-banner {
    margin: 10px;
  }
}

.hp-banner-content {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.hp-banner-content h1 {
  color: white;
  margin-bottom: 0;
  font-size: 3rem;
}
@media (max-width: 960px) {
  .hp-banner-content h1 {
    font-size: 2rem;
  }
}
.hp-banner-content h3 {
  color: white;
  font-size: 5rem;
  font-weight: bolder;
  line-height: 1;
  margin-top: 0;
}
@media (max-width: 960px) {
  .hp-banner-content h3 {
    font-size: 3rem;
  }
}

.summary {
  margin-top: -3.5rem;
}
@media (max-width: 600px) {
  .summary {
    display: none;
  }
}

.summary-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  text-align: center;
}

.summary-block {
  width: calc(25% - 20px);
  padding: 10px 0;
  font-weight: 100;
  color: #435423;
  transition: all 0.3s ease-in-out;
}
.summary-block:hover {
  font-weight: normal;
}
@media (max-width: 960px) {
  .summary-block {
    width: calc(50% - 20px);
  }
}
@media (max-width: 600px) {
  .summary-block {
    width: 100%;
  }
}

.intro {
  padding: 5rem 0;
}
.intro img {
  border-radius: 20px;
}

.our-services {
  padding: 3rem 0;
}

.service-card {
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  position: relative;
  padding: 20px 10px;
}
@media (max-width: 960px) {
  .service-card {
    margin-bottom: 3rem;
  }
}
.service-card .service-card-icon {
  color: white;
  width: 80px;
  height: 80px;
  background: #435423;
  border-radius: 50%;
  font-size: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news-and-events {
  padding: 2rem 0 5rem 0;
}

.news-and-events-card {
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  position: relative;
}
.news-and-events-card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.news-and-events-card .news-and-events-image {
  position: relative;
}
.news-and-events-card .news-and-events-meta {
  border-top-right-radius: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  color: #435423;
  padding: 10px;
  opacity: 0.8;
}
.news-and-events-card .news-and-events-meta small {
  font-weight: 600;
}
.news-and-events-card .news-and-events-content {
  padding: 20px;
}
.news-and-events-card .news-and-events-cta {
  margin: 30px 0;
}

.main-header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo img {
  width: 150px;
  height: 150px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  object-fit: cover;
  margin-top: 5px;
}
@media (max-width: 550px) {
  .nav-logo img {
    width: 120px;
    height: 120px;
  }
}

.nav-pills {
  background: white;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  color: #435423;
  padding: 10px 30px;
  text-decoration: none;
  transition: all 250ms;
  cursor: pointer;
}
.nav-pills:hover {
  text-decoration: none;
  color: whitesmoke;
  background: #435423;
}
@media (max-width: 550px) {
  .nav-pills {
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.main-nav {
  background: white;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  padding: 3rem 2rem;
  margin: 20px;
  position: fixed;
  left: -100%;
  top: 0px;
  height: 100%;
  width: 300px;
  z-index: 10;
  transition: all 250ms ease-in-out;
  border-top-right-radius: 30px;
}
@media (max-width: 960px) {
  .main-nav {
    margin: 5px;
  }
}
.main-nav .close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  background: #435423;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
.main-nav .close-menu:hover {
  transform: rotate(180deg);
}
.main-nav .nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.main-nav .nav-group {
  margin: 20px 0;
  width: 100%;
}
.main-nav .nav-group h4 {
  border-bottom: 1px solid #435423;
  color: #435423;
  font-weight: 600;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.main-nav .nav-group ul,
.main-nav .nav-group ol {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 0;
}
.main-nav .nav-group li {
  list-style: none;
  margin: 10px 0;
}
.main-nav .nav-group a {
  color: #435423;
  display: block;
  font-weight: 600;
  text-decoration: none;
  transition: all 250ms;
}
.main-nav .nav-group a:hover {
  color: #834339;
}
.main-nav .nav-group .current-menu-item a {
  color: #834339;
  text-decoration: underline;
}

footer {
  background: #435423;
  color: white;
  padding: 2rem 0;
}

#menu-footer-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
#menu-footer-menu a {
  color: white;
  font-size: 14px;
  text-decoration: underline;
  transition: all 250ms;
  margin-right: 10px;
}
#menu-footer-menu a:hover {
  text-decoration: underline;
}

.footer-address {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.page-banner {
  background: #435423;
  border-radius: 20px;
  height: 300px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .page-banner {
    margin: 10px;
  }
}

.page-banner-content {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.page-banner-content h1 {
  color: white;
  margin-bottom: 0;
  margin-top: 50px;
  text-align: center;
}

.page-content {
  padding: 3rem 0;
}
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5 {
  color: #435423;
}
.page-content a {
  color: #834339;
  text-decoration: none;
  transition: all 250ms;
}
.page-content a:hover {
  text-decoration: underline;
}

.page-content-blocks {
  background: white;
  border-radius: 20px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  padding: 25px;
}

.quick-links {
  background: white;
  border-radius: 20px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
}
.quick-links img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.quick-links-content {
  padding: 20px;
}
.quick-links h3 {
  color: #435423;
  font-weight: bold;
  margin-bottom: 0;
}
.quick-links a {
  color: #435423;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 250ms;
}
.quick-links a:hover {
  color: #834339 !important;
}

.amakwa-contact-form input {
  border-color: #435423 !important;
  border-radius: 10px !important;
}
.amakwa-contact-form textarea {
  border-color: #435423 !important;
  border-radius: 20px !important;
}
.amakwa-contact-form:active, .amakwa-contact-form:focus {
  border-color: #834339 !important;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1) !important;
}

.faq-page-content li {
  border-bottom: 1px solid #eee;
  padding: 10px;
}
.faq-page-content .uk-accordion-title {
  color: #435423;
}