@media (max-width: 550px) {
  .hide-on-mobile {
    display: none;
  }
}

.section-heading {
  color: #435423;
  font-weight: bold;
  font-size: 2rem;
}

.hp-banner {
  background: #435423;
  border-radius: 20px;
  height: 700px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 960px) {
  .hp-banner {
    margin: 10px;
  }
}

.hp-banner-content {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.hp-banner-content h1 {
  color: white;
  margin-bottom: 0;
  font-size: 3rem;
}
@media (max-width: 960px) {
  .hp-banner-content h1 {
    font-size: 2rem;
  }
}
.hp-banner-content h3 {
  color: white;
  font-size: 5rem;
  font-weight: bolder;
  line-height: 1;
  margin-top: 0;
}
@media (max-width: 960px) {
  .hp-banner-content h3 {
    font-size: 3rem;
  }
}

.intro {
  padding: 5rem 0;
}
.intro img {
  border-radius: 20px;
}

.our-services {
  padding: 3rem 0;
}

.service-card {
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
  position: relative;
  padding: 20px 10px;
}
@media (max-width: 960px) {
  .service-card {
    margin-bottom: 3rem;
  }
}
.service-card .service-card-icon {
  color: white;
  width: 80px;
  height: 80px;
  background: #435423;
  border-radius: 50%;
  font-size: 2rem;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-logo img {
  width: 150px;
  height: 150px;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 5px;
}
@media (max-width: 550px) {
  .nav-logo img {
    width: 120px;
    height: 120px;
  }
}

.nav-pills {
  background: white;
  border: 1px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  color: #435423;
  padding: 10px 30px;
  text-decoration: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  cursor: pointer;
}
.nav-pills:hover {
  text-decoration: none;
  color: whitesmoke;
  background: #435423;
}
@media (max-width: 550px) {
  .nav-pills {
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-nav {
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.1);
  padding: 3rem 2rem;
  margin: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: -100%;
  height: auto;
  z-index: 10;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
@media (max-width: 960px) {
  .main-nav {
    margin: 5px;
  }
}
.main-nav .close-menu {
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  background: #435423;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.main-nav .close-menu:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.main-nav .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.main-nav .nav-group {
  margin: 20px 0;
  width: calc(25% - 20px);
}
@media (max-width: 768px) {
  .main-nav .nav-group {
    width: calc(50% - 20px);
  }
}
@media (max-width: 550px) {
  .main-nav .nav-group {
    width: 100%;
  }
}
.main-nav .nav-group h4 {
  color: #435423;
  font-weight: 600;
  margin: 0;
}
.main-nav .nav-group a {
  color: #666;
  display: block;
  text-decoration: none;
}

footer {
  background: #435423;
  color: white;
  padding: 2rem 0;
}

.page-banner {
  background: #435423;
  border-radius: 20px;
  height: 300px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 960px) {
  .page-banner {
    margin: 10px;
  }
}

.page-banner-content {
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.page-banner-content h1 {
  color: white;
  margin-bottom: 0;
}

.page-content {
  padding: 5rem 0;
}