$colorPrimary: #435423;
$colorSecondary: #834339;
$borderRadius: 20px;
$boxShadow: 1px 3px 4px rgba(0, 0, 0, 0.1);

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito Sans', sans-serif !important;
}

::selection {
    background-color: $colorSecondary;
    color: white;
}

//ScrollBar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $colorPrimary;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $colorSecondary;
}

.amakwa-button {
    background: $colorPrimary !important;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: $boxShadow !important;
    color: white !important;
    padding: 10px 30px !important;
    text-decoration: none !important;
    transition: all 250ms !important;
    cursor: pointer !important;

    &:hover {
        text-decoration: none !important;
        color: $colorPrimary !important;
        background: white !important;
    }
}

.hide-on-mobile {
    @media (max-width: 550px) {
        display: none;
    }
}

.section-heading {
    color: $colorPrimary;
    font-weight: bold;
    font-size: 2rem;
    text-transform: capitalize
}

// Components
@import './components/hp-banner';
@import './components/intro';
@import './components/our-services';
@import './components/_news-and-events';

@import './header';
@import './footer';
@import './page';
@import './page-about-us';