@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, *::before, *::after {
    color: #2751c4;
    font-family: 'Poppins', sans-serif;
}

a {
    color: #2751c4;
}

body.login div#login form#loginform p.forgetmenot {}

body.login div#login form#loginform p.forgetmenot input#rememberme {}

body.login div#login form#loginform input {
    border-radius: 30px;
    color: #2751c4;
    font-weight: 500;
    padding: 0 10px;
}

body.login div#login form#loginform p.submit {
    background: #2751c4;
    border-radius: 20px;
    color: aliceblue;
}

body.login div#login form#loginform p.submit input#wp-submit {
    background: #2751c4;
    border-radius: 30px;
    color: aliceblue;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 6px;
    font-weight: 600;
}

.wp-core-ui .button-group.button-large .button, .wp-core-ui .button.button-large {
    background: #2751c4;
    border-radius: 30px;
    color: aliceblue;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 6px;
    font-weight: 600;
}

.login form .input, .login input[type=password], .login input[type=text] {
    border-radius: 30px;
}

#language-switcher {
    display: none;
}