$colorPrimary: #435423;
$colorSecondary: #834339;

.hp-banner {
    background: $colorPrimary;
    border-radius: 20px;
    height: 600px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 960px) {
        margin: 10px;
    }
}

.hp-banner-content {
    position: relative;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    h1 {
        color: white;
        margin-bottom: 0;
        font-size: 3rem;

        @media (max-width: 960px) {
            font-size: 2rem;
        }
    }

    h3 {
        color: white;
        font-size: 5rem;
        font-weight: bolder;
        line-height: 1;
        margin-top: 0;

        @media (max-width: 960px) {
            font-size: 3rem;
        }
    }
}

.summary {
    margin-top: -3.5rem;

    @media (max-width: 600px) {
        display: none;
    }
}

.summary-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background: white;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    padding: 20px 30px;
    text-align: center;
}

.summary-block {
    width: calc(25% - 20px);
    padding: 10px 0;
    font-weight: 100;
    color: $colorPrimary;
    transition: all 0.3s ease-in-out;

    &:hover {
        font-weight: normal;
    }

    @media (max-width: 960px) {
        width: calc(50% - 20px);
    }

    @media (max-width: 600px) {
        width: 100%;
    }
}